:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-font: "primary";
  --secondary-font: "secondary";

  /* CSS HEX */
  --federal-blue: #03045eff;
  --marian-blue: #023e8aff;
  --honolulu-blue: #0077b6ff;
  --blue-green: #0096c7ff;
  --pacific-cyan: #00b4d8ff;
  --vivid-sky-blue: #48cae4ff;
  --non-photo-blue: #90e0efff;
  --non-photo-blue-2: #ade8f4ff;
  --light-cyan: #caf0f8ff;
  --white: #ffffffff;
  --rich-black: #00171fff;
  --prussian-blue: #003459ff;
  --cerulean: #007ea7ff;
  --picton-blue: #00a8e8ff;

}

@font-face {
  font-family: primary;
  src: url("/font/TANHEADLINE-Regular.ttf") format("truetype");
}

@font-face {
  font-family: secondary;
  src: url("/font/ovo-regular.ttf") format("truetype");
}

a {
  font-weight: 500;
  color: var(--prussian-blue);
  text-decoration: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--cerulean);
  }
  a:hover {
    color: var(--blue-green);
  }
}
